<!DOCTYPE html>

<html lang="en">

<!-- Mirrored from www.saerox-design.com/Saarthi/homepage-01.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 03 Mar 2019 00:34:33 GMT -->

<head>
    <meta charset="utf-8">
    <title>Saarthi</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta content="Saarthi is a premium app landing page responsive html template built with bootstrap" name="description">

    <link href="images/favicon.ico" rel="shortcut icon">
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">

    <link href="css/core/bootstrap.min.css" rel="stylesheet">
    <link href="css/core/animate.min.css" rel="stylesheet">
    <link href="css/core/font-awesome.min.css" rel="stylesheet">
    <link href="css/plugins/owl.carousel.min.css" rel="stylesheet">
    <link href="css/plugins/owl.theme.min.css" rel="stylesheet">
    <link href="css/core/main.min.css" rel="stylesheet">
    <link href="css/core/demo-panel.css" rel="stylesheet">
    <link href="css/homepages/homepage-01.min.css" rel="stylesheet">

    <link href='fonts.googleapis.com/css6665.css?family=Montserrat:400,700%7CPT+Sans+Narrow:400,700' rel='stylesheet'
        type='text/css'>
    <style>
        .sticky {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 30%;
            color: white;
            text-align: center;
        }
    
        .sticky1 {
            position: fixed;
            margin-left: 50%;
            bottom: 0;
            width: 10%;
            color: white;
            text-align: center;
        }
        @media screen and (max-width: 600px) {
            .sticky {
                
                width: 100%;
            }
        }
    </style>
</head>

<body id="page-top">

    <div id="preloader">
        <div id="status"></div>
    </div>


    <nav class="navbar navbar-default navbar-gradient navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img class="logo" src="images/logo.png" alt="logo">
                </a>
            </div>


    </nav>


    <section id="hero" class="hero-1">
        <div class="container">
            <div class="row">
                <div class="wrap-hero-content">
                    <div class="hero-content">
                        <h1 class="os-animation" data-os-animation="zoomIn">
                            Saarthi
                        </h1>
                        <p class="sub-title">
                            A Railway Chatbot <span class="typed"></span>
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </section>

    </div>

    </div>


    <section id="about" class="white-bg">
        <div class="container">
            <div class="row">
                <div class="main-about">
                    <div class="col-md-4 col-sm-4 col-xs-12 np">
                        <div class="img-left-01 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                            <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201706/railway-station-647_060717054639.jpg"
                                alt="about">
                        </div>
                        <div class="img-left-02 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                            <img src="https://www.newsclick.in/sites/default/files/2018-08/Railway.jpg" alt="about">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="post-about negative-margin">
                            <h3 class="gradient-text">About Saarthi</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem praesentium
                                blanditiis architecto deserunt sunt at consequuntur provident nemo. Pariatur
                                recusandae, tenetur doloribus doloremque blanditiis placeat fugiat ratione quibusdam
                                harum amet.</p>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 np">
                        <div class="img-right os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                            <img src="https://www.thebetterindia.com/wp-content/uploads/2017/01/railway-station.jpg"
                                alt="about">
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>


    <section id="features" class="features white-bg">
        <div class="container">
            <div class="row features">
                <div class="features-content">
                    <div class="col-md-6">
                        <div class="img-responsive mockup os-animation" data-os-animation="slideInUp">
                            <img src="images/mockup/01.png" alt="mockup1" title="mockup1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="section-title-01">
                            <div class="subtitle">Features</div>
                            <h2>Awesome <span class="gradient-text-02">Features</span></h2>
                        </div>
                        <hr class="hr-title-03">
                        <div class="box">
                            <div class="col-sm-3 col-xs-12 np">
                                <div class="box-icon os-animation" data-os-animation="fadeInDown"
                                    data-os-animation-delay="0.2s">
                                    <span class="fa fa-2x fa-comments-o gradient-text-02"></span>
                                </div>

                            </div>

                            <div class="col-sm-9 col-xs-12 np">
                                <div class="info">
                                    <h4>Support 24/7</h4>
                                    <p>
                                        Suspendisse potenti. Nunc mattis sapien nec mi dictum feugiat. Pellentesque
                                        vehicula consectetur commodo..
                                    </p>
                                </div>

                            </div>

                        </div>

                        <div class="box">
                            <div class="col-sm-3 col-xs-12 np">
                                <div class="box-icon os-animation" data-os-animation="fadeInDown"
                                    data-os-animation-delay="0.2s">
                                    <span class="fa fa-2x fa-diamond gradient-text-02"></span>
                                </div>

                            </div>

                            <div class="col-sm-9 col-xs-12 np">
                                <div class="info">
                                    <h4>Awesome Design</h4>
                                    <p>
                                        Suspendisse potenti. Nunc mattis sapien nec mi dictum feugiat. Pellentesque
                                        vehicula consectetur commodo...
                                    </p>
                                </div>

                            </div>

                        </div>

                        <div class="box">
                            <div class="col-sm-3 col-xs-12 np">
                                <div class="box-icon os-animation" data-os-animation="fadeInDown"
                                    data-os-animation-delay="0.2s">
                                    <span class="fa fa-2x fa-wrench gradient-text-02"></span>
                                </div>

                            </div>

                            <div class="col-sm-9 col-xs-12 np">
                                <div class="info">
                                    <h4>Easy To Customize</h4>
                                    <p>
                                        Suspendisse potenti. Nunc mattis sapien nec mi dictum feugiat. Pellentesque
                                        vehicula consectetur commodo...
                                    </p>
                                </div>

                            </div>

                        </div>

                        <div class="box">
                            <div class="col-sm-3 col-xs-12 np">
                                <div class="box-icon os-animation" data-os-animation="fadeInDown"
                                    data-os-animation-delay="0.2s">
                                    <span class="fa fa-2x fa-heart gradient-text-02"></span>
                                </div>

                            </div>

                            <div class="col-sm-9 col-xs-12 np">
                                <div class="info">
                                    <h4>Created With Love</h4>
                                    <p>
                                        Suspendisse potenti. Nunc mattis sapien nec mi dictum feugiat. Pellentesque
                                        vehicula consectetur commodo...
                                    </p>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
            <div class="sticky" style="z-index=99999999;">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
                        <button type="button" class="btn btn-info"><a href="https://saarthivideocall.herokuapp.com/">Click Me</a></button>

                <div id="demo" class="collapse" style="color:black;">
                    <iframe allow="microphone;" width="350" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/saarthi">
                    </iframe>
                </div>
            </div>
            

    </section>

    <script src="js/core/jquery-3.1.1.min.js" type="9cb67fd33d476c030e04af5f-text/javascript"></script>
    <script src="js/core/bootstrap.min.js" type="9cb67fd33d476c030e04af5f-text/javascript"></script>
    <script src="js/core/jquery.easing.min.js" type="9cb67fd33d476c030e04af5f-text/javascript"></script>
    <script src="js/plugins/waypoints/jquery.waypoints.min.js" type="9cb67fd33d476c030e04af5f-text/javascript"></script>
    <script src="js/plugins/typed/typed.min.js" type="9cb67fd33d476c030e04af5f-text/javascript"></script>
    <script src="js/plugins/owl-carousel/owl.carousel.min.js" type="9cb67fd33d476c030e04af5f-text/javascript"></script>
    <script type="9cb67fd33d476c030e04af5f-text/javascript">
            $(function(){
                $('.slide-out-div').tabSlideOut({
                    tabHandle: '.handle',                   
                    tabLocation: 'right',                 
                    speed: 500,                           
                    action: 'click',               
                    topPos: '0',  
                    onLoadSlideOut: true,                                    
                    fixedPosition: true                    
                });
            });
        </script>
    <script src="js/core/main.js" type="9cb67fd33d476c030e04af5f-text/javascript"></script>
    <script src="js/core/demo.switcher.min.js" type="9cb67fd33d476c030e04af5f-text/javascript"></script>
    <script src="js/pages/homepage-01.js" type="9cb67fd33d476c030e04af5f-text/javascript"></script>
    <script src="ajax.cloudflare.com/cdn-cgi/scripts/cb7744ae/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="9cb67fd33d476c030e04af5f-|49" defer=""></script>
</body>

<!-- Mirrored from www.saerox-design.com/Saarthi/homepage-01.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 03 Mar 2019 00:35:19 GMT -->

</html>
